@import "../../styles/animations.scss";

.container {
  margin-bottom: 25rem;

  .logo {
    margin: 7rem 0 0 8rem;

    &__text {
      font-size: 3.2rem;
      font-weight: 900;
    }
  }

  .maintext {
    display: flex;
    padding: 5rem 0;
    align-items: center;
    justify-content: space-evenly;

    .heading {
      font-size: 9rem;
      font-weight: 900;
      text-transform: uppercase;

      &__span {
        font-weight: 300;
      }
    }

    &__btn {
      margin-top: 3rem;
      user-select: none;
    }

    .imageContainer {
      width: 50rem;
      height: auto;
      position: relative;

      &__image {
        width: 100%;
        height: auto;
        animation: slowFloat 8s ease-in-out infinite;
      }

      &__box {
        width: 6rem;
        height: auto;
        position: absolute;
      }

      #box_1 {
        left: 15%;
        bottom: 10%;
        animation: slowFloat 6s ease-in-out 0.3s infinite;
      }

      #box_2 {
        animation: slowFloat 8s ease-in-out 0.1s infinite;
      }

      #box_3 {
        right: 0;
        bottom: 20%;
        animation: slowFloat 10s ease-in-out 0.2s infinite;
      }
    }
  }
}
